<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Company Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">HOME</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/user/login">LOGIN</a></li>
        <li><a href="/user/logout">LOGOUT</a></li>
        <li><a href="/speechToText">SPEECH TO TEXT</a></li>
        <li><a href="/summarize/sum">SUMMARIZE</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
    <img src="{% static 'logo.png' %}">
</div>

<div class="w3-center w3-container w3-margin-top">
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td border="none" colspan="2"><h2 class="w3-left"> Member Join</h2></td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ join_form.id.id_for_label }} " class="w3-left"><h4>{{ join_form.id.label }}</h4></label>
                    </td>
                    <td>
                        {{ join_form.id }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ join_form.password.password_for_label }} " class="w3-left"><h4>{{ join_form.password.label }}</h4></label>
                    </td>
                    <td>
                        {{ join_form.password }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ join_form.password_check.password_check_for_label }} " class="w3-left"><h4>{{ join_form.password_check.label }}</h4></label>
                    </td>
                    <td>
                        {{ join_form.password_check }}
                    </td>
                </tr>

                <tr>
                    <td colspan="2"><input class="w3-button w3-large w3-black" type="submit" value="JOIN"/></td>
                </tr>
            </table>
        </form>
</div>
